@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #83ee52, #3cbfe7, #2f23d5, #6723d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.container {
  background: rgb(255,210,210);
  background: radial-gradient(circle, rgba(255,210,210,1) 16%, rgba(255,160,160,1) 75%);
  width: 800px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  font-family: $header;
  font-size: 40px;
  max-height: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

.editor {
  width: 600px;
  height: 250px;
  padding: 10px;
  resize: none;
  font-family: $font;
  border-radius: 10px;
  border: solid 2px #ff6ea6;
  background-color: rgb(240, 239, 239);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  

  &__button {
    width: 100px;
    height: 40px;
    border: none;
    margin: 10px;
    font-style: $font;
    font-size: 18px;
    background: #fff;
    
    &:hover {
      background-color: #e73c7e;
      color: #fff;
      animation: hover 1s;
    }
  }
}

@keyframes hover {
  from {
    background: #fff;
  }
  to {
    background-color: #e73c7e;
    color: #fff;
  }
}
